/*Para crear snippets para css : Ctrl+shift+P - Snippets-Configure Snippets - css(para que se cree el archivo css.json)*/

/*Para saber las medidas estandar de dispositivos ver :https://getbootstrap.com/docs/5.3/layout/breakpoints/ 
o https://css-tricks.com/snippets/css/media-queries-for-standard-devices/*/


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
}
:root{
    --bgColor:#f7f7f7;
    --headerColor:#C0C0C0;
    --secondColor:#eaeaea;
    --textColor:#3f3844;
    --mainColor:#e354f3;
    --secondaryColor:#17b6f9;
    --otherColor:#5d6c83;
}
html{
    font-size: 62.5%;/*1rem=10px, Con el porcetaje es más dinamico*/
    overflow-x:hidden ;/*Oculta el texto si hay desbordamiento*/
}
body{
    background-color: var(--bgColor);
    color: var(--textColor);
    font-size: 1.6rem;
    font-family: "AR One Sans", sans-serif;

}

@media (max-width: 768px ){
    body{
        font-size: 1.4rem;
    }    
}
section{
    min-height:100vh ;
    padding: 10rem 10% 2rem;
}
@media (max-width: 768px ){
    section{
        min-height: auto;
        padding: 11rem 3% 2rem;
    }
}

/*Utilidades 
==============================*/
.heading{
    font-size: 4.5rem;
    text-align: center;
    
}
.heading-description{
    font-size: 1.8rem;
    margin-bottom: 3rem;
    text-align: center;
}

span{
    color: var(--mainColor);
}

@media (max-width: 768px ){
    .heading{
        font-size: 3rem;
    }

    .heading-description{
        font-size: 1.4rem;
    }

}

/*Header
====================*/
.header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 10%;
    background-color: var(--headerColor);
    box-shadow: 0 1px .3rem var(--textColor);/*margen izq tamañoborde TamañoSombra Color  */
}
@media (max-width: 768px ){
    .header{
        flex-direction: column;
        padding: 1rem 2%;
    }
}
.fotoLogo{
    width: 8rem;
    
}
.logo{
    font-size: 2.5rem;
    color: var(--mainColor);
    font-weight: 700;
    transition-duration: 0.5s;
}

@media (max-width: 768px ){
    .logo{
        font-size: 3.5rem;
        margin-bottom: 1rem;
    }    
}
.logo:hover{
    transform: scale(1.05);
}
.nav-bar{
    display: flex;
    gap: 1.5rem;/*espacio entre los elementos del nav*/
}
.nav-bar a{
    color: var(--bgColor);
    font-weight: 600;
    transition: 0.3 ease;/*ease es para que se haga en todas partes*/
    border-bottom: .2rem solid transparent;
    text-transform: uppercase;

}
@media (max-width: 768px ){
    .nav-bar{
        gap: 1rem;
    }
    .nav-bar a{
        font-size: 1.2rem;
    }
}
.nav-bar a:hover,.nav-bar a.active{/*a.active, Cuando el elemento tenga la clase active*/
    border-bottom-color: var(--mainColor);
    color: var(--mainColor);
}
/* 
Header - Bolitas
=====================================================*/

.contenedor2 {
    position: relative;
    width: 100%;
    height: 200px; /* Ajusta la altura según necesites */
   /*display: flex;
    justify-content: center;
    align-items: flex-end; /* Alinea las bolitas en la parte inferior */
}

.bolita {
    width: 6rem;
    height: 6rem;
    background-color:#fdfd96; /* Cambia el color si quieres */
    color: black;
    border-radius: 50%;
    position: absolute;
    bottom: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
    font-weight: bold;

    animation: rebote 3s infinite ease-in-out;/*velocidad de rebote*/
}
/* Ubicaciones específicas */
.izquierda { left: 10%; }
.Cizquierda { left: 27%;  }
.centro { left: 47%; transform: translateX(50%) ; }
.Cderecha { right: 27%;  }
.derecha { right: 10%;  }


/* Para que cada bolita rebote en tiempos distintos */
.bolita:nth-child(2) {
    animation-delay: 0.4s;
    background-color:var(--mainColor) ;
    color:var(--bgColor);
}

.bolita:nth-child(3) {
    animation-delay: 0.8s;
    background-color:greenyellow;
    color: black;
}
.bolita:nth-child(4) {
    animation-delay: 0.2s;
    background-color: #79D2E6;
    color:var(--bgColor);
}

.bolita:nth-child(5) {
    animation-delay: 1s;
    background-color:#FFAE69;
    color:black;
}

@keyframes rebote {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-90px); /* Altura del rebote */
    }
}



/*Home
=========================*/

.home{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-image: url(../images/pexels-negativespace-169573.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.home-content{
    width: 60%;
    margin-left: 5rem;
    padding: 6rem 2rem;
    background-color: rgb(247, 247, 247, 0.9);
    border: .2rem solid var(--mainColor);
    border-radius: 2rem;
    text-align: center;
}

@media (max-width: 1200px ){
    .home{
        justify-content: center;
        background-color: var(--bgColor);
        background-image: none;
    }    
    .home-content{
        width: 100%;
        padding: 0;
        margin-left: 0;
        border: none;
        text-align: center;
    }
}
.home-content h1{
    font-size: 5rem;
    font-weight: 700;
    line-height: 1.3;
}
.home-content h3{
    font-size: 3.5rem;
    font-weight: 700;
    margin-bottom: 2rem;
}

.home-content p{
    font-size: 1,8rem;
    margin-bottom: 2rem;
}

@media (max-width: 768px ){
    .home-content h1{
        font-size: 3rem;
    }
    .home-content h3{
        font-size: 2.5rem;
    }
    .home-content p{
        font-size: 1.6rem;
    }
}

/* Redes Sociales
==========================*/

.socialMedia a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4.2rem;
    height: 4.2rem;
    border: .2rem solid var(--mainColor);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--mainColor);
    margin: 3rem 1.5rem 3rem 0;
    transition: .3s ease;/* la transición comenzará lentamente, acelerará en la parte media y luego desacelerará al final
     Otras opciones
    linear:La animación se mueve a una velocidad constante de principio a fin. 
    ease-in:La animación comienza lentamente y acelera progresivamente. 
    ease-out:La animación comienza rápido y desacelera hasta el final. 
    ease-in-out:Comienza y termina lentamente, siendo más rápido en el medio. 
    */

}

.socialMedia a:hover{
    transform: scale(1.2) translateY(-1rem);/*se transforma 1.2 puntos más grande y se traslada hacia arriba(con el numero negativo, un punto)*/
    background-color: var(--mainColor);
    color: var(--bgColor);
    box-shadow: 0 0 2.5rem var(--mainColor); /*añade la sombra (entodos los sitios, con el 0 0) el tamaño con el 2.5 y el color*/
}



/*Modulos
==================*/

.modulos{
    background-color: var(--secondColor);
}

.modulosContenedor{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 4rem;
    margin-top: 4rem;
}

.modulo{
    /*width: calc(90%/3);/*Para calcular el 94%/2 : lo hemos cambiado a la hora de ajustar a pantallas pequeñas
    sin utilizar media query*/
    flex: 0 0  30rem;
    /* flex: <flex-grow> <flex-shrink> <flex-basis>;
    flex-grow: 1;       el ítem puede crecer si hay espacio extra 
    flex-shrink: 1;    el ítem puede encogerse si no hay suficiente espacio 
    flex-basis: 30rem; tamaño base preferido del ítem */
    /* 
    ?opciones para utilizar Flex
    ?.div1 { flex: 1 1 30rem; } --- crece y encoge normalmente 
    ?.div2 { flex: 2 1 30rem; } --- crecerá el doble que .div1 
    ?.div3 { flex: 1 0 30rem; } --- no se encoge, pero sí crece 
    ?.div4 { flex: 0 0 30rem; }  --- nunca crece ni se encoge, fijo en 30rem */
    
    background-color: var(--bgColor);
    align-items: center;
    border-radius: 1rem;
    border: .1rem solid transparent;
    padding: 2rem;
    box-shadow: 0 0 .5rem var(--mainColor);
    transition: all .5s ease;
    height: 30rem;
}
.modulo:hover{
    cursor: pointer;
    transform: translateY(-.5rem) scale(1.02);
}

.modulo img{
    display: block;
    align-items: center;
    border-radius: 1rem;
    margin: 0 auto 1rem auto;
    border: 1px solid black;

}
.moduloTitulo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: .5rem;
}

.moduloTitulo h4{
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1rem;
    line-height: 1.4;
}
.moduloTitulo a{
    display: inline-flex;
    font-size: 2.5rem;
    border-radius: 50%;
    padding: .5rem;
    color: var(--textColor);
    background-color: var(--mainColor);
}

.moduloTitulo a:hover{
    color: var(--mainColor);
    background-color: var(--textColor);

}
.modulo p{
    margin-bottom: 2rem;
}



/*Footer
===============*/

.footer{
    background-color: var(--secondColor);
    padding: 2rem;
    text-align: center;
    border-top: 0.2rem solid var(--mainColor);
}

.footerContent{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.flecha a{
    display: inline-flex;
    color: var(--mainColor);
    border: 0.2rem solid var(--mainColor);
    font-size: 3rem;
    padding: 1rem;
    border-radius: 2rem;
    transition: .3s ease;
}

.flecha a:hover{
    box-shadow: 0 0 2.5rem var(--mainColor);
    transform: scale(1.1) translateY(-1rem);
}
.footer p{
    color: var(--textColor);
}